.containerInput {
    width: 1200px;  
    margin: auto;
}

.containerBooks {
    width: 1200px;  
    margin: auto;
}

table {
    table-layout: auto;
    width: 100%;
    border: 2px solid black;
}

th {
    border: 1px solid black;
}

td {
    text-align: center;
}

#newBookFormContainer {
    display: none;
    width: 300px;
    background-color: wheat;
    padding: 20px;
}

#newBookButton {
    width: 300px;
    margin-left: 20px;
}

.containerInput input[type=text], .containerInput input[type=number] {
    display: block;
    width: 100%;
    height: 30px;
    margin: 5px 0 22px 0;
    border: none;
}

.containerInput .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0.8;
}