.containerInput {
    width: 1200px;  
    margin: auto;
}

.containerBooks {
    width: 1200px;  
    margin: auto;
}

table {
    table-layout: auto;
    width: 100%;
    border: 2px solid black;
}

th {
    border: 1px solid black;
}

td {
    text-align: center;
}

#newBookButton {
    background-color: green;
    color: white;
}